
    <div class="row">
        <table class="table ">
            <thead>
            <tr>
              <th  >{{"id"| translate}}</th>
                <th>{{"Total"| translate}}</th>
                <th>{{"Status"| translate}}</th>
                <th>{{"Description"| translate}}</th>
                <th>{{"Settings"| translate}}</th>
        
                <!-- Ajoutez d'autres en-têtes si nécessaires -->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let commande of commandes">
                <td>{{ commande.idCommande }}</td>
                <td>{{ commande.total }}</td>
                <td>{{ commande.etat }}</td>
                <td>{{ commande.description }}</td>
                <td ><a (click)="editCommande(commande)"><i class="mdi mdi-pencil" style="font-size: 20px; color :#A1689A; margin-left : 15px;"></i></a>
                  <a (click)="deleteCommande(commande.idCommande)"><i class="mdi mdi-delete" style="font-size: 20px; color: #A1689A;margin-left : 15px;"></i></a>
                  <a (click)="showDetails(commande)"><i class="mdi mdi-information" style="font-size: 20px; color :#A1689A;margin-left : 15px;"></i></a>
                </td>
                <!-- Ajoutez d'autres colonnes si nécessaires -->
            </tr>
            </tbody>
        </table>
        <div *ngIf="editingCommande">
          <h3> {{"Update for Order with id : "| translate}} {{editingCommande.idCommande}} </h3>
          <form (submit)="saveCommande(editingCommande.idCommande)">
            <label >{{"Total"| translate}} :&emsp;</label>
              <input [(ngModel)]="editingCommande.total" type="text"><br>
              <label >{{"Status"| translate}} :&emsp;</label>
              <input [(ngModel)]="editingCommande.etat" type="text" ><br>
              <label >{{"Description"| translate}} :&emsp;</label>
              <input [(ngModel)]="editingCommande.description" type="text"><br>
              <button type="submit">{{"Update"| translate}}</button><button mat-button color="primary" (click)="editingCommande = null">{{"Cancel"| translate}}</button>
          </form>
      </div>
      <div *ngIf="selectedCommande">
          <h3>{{"Details of the Order with id : "| translate}} {{selectedCommande.idCommande}} </h3>
          <p><strong>{{"Total"| translate}}:</strong> {{ selectedCommande.total }}</p>
          <p><strong>{{"Status"| translate}}:</strong> {{ selectedCommande.etat }}</p>
          <p><strong>{{"Description"| translate}}:</strong> {{ selectedCommande.description }}</p>
          <!-- <p><strong>Livreurs:</strong> <li>{{ selectedCommande.livreurs }}</li></p> -->
          
          <button mat-button color="primary" (click)="selectedCommande = null">{{"Cancel"| translate}}</button>
        </div>
        <ul>
            <li *ngFor="let id of deliveredCommandIds">{{ id }}</li>
        </ul>
<h2>{{"Filter orders"| translate}}</h2>
<div>
  <label for="etat">{{"Status"| translate}} :</label>
  <select id="etat" [(ngModel)]="selectedEtat">
    <option *ngFor="let etat of etats" [value]="etat">{{ etat }}</option>
  </select>
</div>
<div>
  <label for="startDate">{{"Start date"| translate}} :</label>
  <input type="date" id="startDate" [(ngModel)]="startDate">
</div>
<div>
  <label for="endDate">{{"End date"| translate}} :</label>
  <input type="date" id="endDate" [(ngModel)]="endDate">
</div>
<button (click)="onFilterButtonClick()">{{"Filter"|translate}}</button>

<h3>{{"Filtered commands"| translate}}</h3>
<table class="table " >
  <thead>
  <tr>
    <th>{{"id"| translate}}</th>
    <th>{{"Total"| translate}}</th>
    <th>{{"Status"| translate}}</th>
    <th>{{"Description"| translate}}</th>
    <th>{{"Date Delivered"|translate}}</th>

      <!-- Ajoutez d'autres en-têtes si nécessaires -->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let id of deliveredCommandIds">
      <td>{{ id.idCommande }}</td>
      <td>{{ id.total }}</td>
      <td>{{ id.etat }}</td>
      <td>{{ id.description }}</td>
      <td>{{ id.dateLivree }}</td>  
     
      <!-- Ajoutez d'autres colonnes si nécessaires -->
  </tr>
  </tbody>
</table>
<!-- <ul>
  <li *ngFor="let commande of deliveredCommandIds">{{ commande.idCommande }} {{ commande.total }} {{ commande.etat }} {{ commande.description }} {{ commande.dateLivree }}</li>
</ul> -->
    </div>  