<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{"Update profile"|translate}}</h4>
                        <p class="card-category">{{"Complete your profile"|translate}}</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>{{"Email"|translate}}</label>
                                        <input class="form-control" placeholder="Email (disabled)" disabled type="email">
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label>{{"Fullname"|translate}}</label>
                                        <input class="form-control" placeholder="Fullname">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{"Address"|translate}}</label>
                                        <input class="form-control" placeholder="Address" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{"City"|translate}}</label>
                                        <input class="form-control" placeholder="City" type="text">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{"Country"|translate}}</label>
                                        <input class="form-control" placeholder="Country" type="text">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{"Postal Code"|translate}}</label>
                                        <input class="form-control" placeholder="Postal Code" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{"About Me"|translate}}</label>
                                        <textarea class="form-control" placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-danger pull-right">{{"Update"|translate}} {{"Profile"|translate}}</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
