
<table class="table ">
    <thead>
    <tr>
        <th  >{{"id"| translate}}</th>
        <th  >{{"Fullname"| translate}}</th>
        <th  >{{"Email"| translate}}</th>
        <th  >{{"Roles"| translate}}</th>
        <th  >{{"Settings"| translate}}</th>
 
        <!-- Ajoutez d'autres en-têtes si nécessaires -->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of user">
        <td>{{ user.id }}</td>
        <td>{{ user.fullname }}</td>
        <td>{{ user.email}}</td>
        <td> <ul *ngFor="let role of user.roles">{{ role.name }}</ul></td>
      
        <td  ><a (click)="editUser(user)" ><i class="mdi mdi-pencil" style="font-size: 20px; color :#A1689A; margin-left : 15px;"></i></a>
             <a (click)="deleteUser(user.id)"><i class="mdi mdi-delete" style="font-size: 20px; color: #A1689A;margin-left : 15px;"></i></a>
             <a (click)="showDetails(user)"><i class="mdi mdi-information" style="font-size: 20px; color :#A1689A;margin-left : 15px;"></i></a>
        </td>
    </tr>
    </tbody>
</table>
<div *ngIf="editingUser">
    <h3>{{"Update profile for"| translate}} <strong>{{editingUser.fullname}}</strong></h3>
      <form (submit)="saveUser(editingUser.id)">        
        <label >{{"Fullname"| translate}} :&emsp;</label>
        <input [(ngModel)]="editingUser.fullname" type="text"><br>
        <label >{{"Roles"| translate}} :&emsp;</label>
        <input [(ngModel)]="editingUser.roles" type="text"><br>
        <label >{{"Email"| translate}} :&emsp;</label>
        <input [(ngModel)]="editingUser.email" type="text"><br>
        <button type="submit">{{"Update"| translate}}</button> <button mat-button color="primary" (click)="editingUser = null">{{"Cancel"| translate}}</button>
    </form>
</div>
<div *ngIf="selectedUser">
    <h3>{{"Details for"| translate}} <strong>{{ selectedUser.fullname }}</strong></h3>
    <p><strong>{{"Email"| translate}}:</strong> {{ selectedUser.email }}</p>
    <p><strong>{{"Roles"| translate}}:</strong> <ul *ngFor="let role of selectedUser.roles">{{ role.name }}</ul>
    
    <button mat-button color="primary" (click)="selectedUser = null">{{"Cancel"| translate}}</button>
  </div>
