
<table class="table ">
    <thead>
    <tr>
        <th  >{{"id"| translate}}</th>
        <th  >{{"Fullname"| translate}}</th>
        <th  >{{"Email"| translate}}</th>
        <th  >{{"Localization"| translate}}</th>
        <th  >{{"Phone Number"| translate}}</th>
        <th  >{{"Settings"| translate}}</th>
        <!-- Ajoutez d'autres en-têtes si nécessaires -->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let livreurs of livreurs">
        <td>{{ livreurs.id }}</td>
       
        <td><div class="status-circle"  [ngStyle]="{'background-color': livreurs.etat ? '#679273' : '#7D3433'}"></div>&emsp;&emsp;{{ livreurs.fullname }}</td>
        <td>{{ livreurs.email}}</td>
        <td>{{ livreurs.localisation}}</td>
        <td>{{ livreurs.numTel}}</td>
        <td ><a (click)="editLivreur(livreurs)" ><i class="mdi mdi-pencil" style="font-size: 20px; color :#A1689A; margin-left : 15px;"></i></a>
             <a (click)="deleteLivreur(livreurs.id)"><i class="mdi mdi-delete" style="font-size: 20px; color: #A1689A;margin-left : 15px;"></i></a>
             <a (click)="showDetails(livreurs)"><i class="mdi mdi-information" style="font-size: 20px; color :#A1689A;margin-left : 15px;"></i></a>
        </td>
    <!-- [routerLink]="['/edit', livreurs.id]"  -->
        <!-- Ajoutez d'autres colonnes si nécessaires -->
    </tr>
   
    </tbody>
</table>
<div *ngIf="editingLivreur">
    <h3>{{"Update profile for"| translate}} <strong>{{editingLivreur.fullname}}</strong></h3>
    <form (submit)="saveLivreur(editingLivreur.id)">
        <label >{{"Fullname"| translate}} :&emsp;</label>
        <input [(ngModel)]="editingLivreur.fullname" type="text"><br>
        <label>{{"Address"| translate}} :&emsp;</label>
        <input [(ngModel)]="editingLivreur.address" type="text"  ><br>
        <label>{{"Localization"| translate}} :&emsp;</label>
        <input [(ngModel)]="editingLivreur.localisation" type="text"><br>
        <label  >{{"Phone"| translate}} :&emsp;</label>
        <input [(ngModel)]="editingLivreur.numTel" type="text" ><br>
        <button type="submit">{{"Update"| translate}}</button><button mat-button color="primary" (click)="editingLivreur = null">{{"Cancel"| translate}}</button>
    </form>
</div>
<div *ngIf="selectedLivreur">
    <h3>{{"Details for"| translate}} <strong>{{ selectedLivreur.fullname }}</strong></h3>
  
    <p><strong>{{"Address"| translate}}:</strong> {{ selectedLivreur.address }}</p>
    <p><strong>{{"Localization"| translate}}:</strong> {{ selectedLivreur.localisation }}</p>
    <p><strong>{{"Phone"| translate}}:</strong> {{ selectedLivreur.numTel }}</p>
    <p><strong>{{"Email"| translate}}:</strong> {{ selectedLivreur.email }}</p>
    <p><strong>{{"Status"| translate}}:</strong> {{ selectedLivreur.etat ? 'Activé' : 'Désactivé' }}</p>
    <!-- <p><strong>NumTel:</strong> {{ selectedLivreur.numTel }}</p> -->
    <button mat-button color="primary" (click)="selectedLivreur = null">{{"Cancel"| translate}}</button>
  </div>