
<table class="table ">
    <thead>
    <tr>
        <th  >{{"id"| translate}}</th>
        <th  >{{"Fullname"| translate}}</th>
        <th  >{{"Email"| translate}}</th>
        <th  >{{"Phone Number"| translate}}</th>
        <th  >{{"Settings"| translate}}</th>
        
        <!-- Ajoutez d'autres en-têtes si nécessaires -->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pointDeVente of pointDeVente">
        <td  i18n>{{ pointDeVente.id }}</td>
        <td>{{ pointDeVente.email}}</td>
        <td>{{ pointDeVente.address}}</td>
        <td>{{ pointDeVente.numTel}}</td>
        <td ><a (click)="editPointDeVente(pointDeVente)" ><i class="mdi mdi-pencil" style="font-size: 20px; color :#A1689A; margin-left : 15px;"></i></a>
             <a (click)="deletePointDeVente(pointDeVente.id)"><i class="mdi mdi-delete" style="font-size: 20px; color: #A1689A;margin-left : 15px;"></i></a>
             <a (click)="showDetails(pointDeVente)"><i class="mdi mdi-information" style="font-size: 20px; color :#A1689A;margin-left : 15px;"></i></a>
        </td>
        <!-- Ajoutez d'autres colonnes si nécessaires  -->
    </tr>
    </tbody>
</table>
<div *ngIf="editingPointDeVente">
    <h3>{{"Update profile for"| translate}}<strong>{{editingPointDeVente.fullname}}</strong></h3>
    <form (submit)="savePointDeVente(editingPointDeVente.id)">
        <label >{{"Fullname"| translate}} :&emsp;</label>
        <input [(ngModel)]="editingPointDeVente.fullname" type="text" ><br>
        <label>{{"Address"| translate}} :&emsp;</label>
        <input [(ngModel)]="editingPointDeVente.address" type="text"  ><br>
        <label>{{"Localization"| translate}} :&emsp;</label>
        <input [(ngModel)]="editingPointDeVente.localisation" type="text"><br>
        <label  >{{"Phone"| translate}} :&emsp;</label>
        <input [(ngModel)]="editingPointDeVente.numTel" type="text" ><br>
       <button type="submit">{{"Update"| translate}}</button><button mat-button color="primary" (click)="editingPointDeVente = null">{{"Cancel"| translate}}</button>
    </form>
</div>
<div *ngIf="selectedPointDeVente">
    <h3>{{"Details for"| translate}} <strong>{{ selectedPointDeVente.fullname }}</strong></h3>
    <p><strong>{{"Address"| translate}}:</strong> {{ selectedPointDeVente.address }}</p>
    <p><strong>{{"Localization"| translate}}:</strong> {{ selectedPointDeVente.localisation }}</p>
    <p><strong>{{"Phone"| translate}}:</strong> {{ selectedPointDeVente.numTel }}</p>
    <p><strong>{{"Email"| translate}}:</strong> {{ selectedPointDeVente.email }}</p>
    <p><strong>{{"Status"| translate}}:</strong> {{ selectedPointDeVente.etat ? 'Activé' : 'Désactivé' }}</p>
   <!-- <p><strong>NumTel:</strong> {{ selectedLivreur.numTel }}</p> -->
    <button mat-button color="primary" (click)="selectedPointDeVente = null">{{"Cancel"| translate}}</button>
  </div>