
<table class="table ">
    <thead>
    <tr>
        <th  >{{"id"| translate}}</th>
        <th  >{{"Fullname"| translate}}</th>
        <th  >{{"Email"| translate}}</th>
        <th  >{{"Phone Number"| translate}}</th>
        <th  >{{"Settings"| translate}}</th>
        
        <!-- Ajoutez d'autres en-têtes si nécessaires -->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let endUser of endUser">
        <td>{{ endUser.id }}</td>
        <td>{{ endUser.fullname }}</td>
        <td>{{ endUser.email}}</td>
        <td>{{ endUser.numTel}}</td>
        <td ><a (click)="editEndUser(endUser)" ><i class="mdi mdi-pencil" style="font-size: 20px; color :#A1689A; margin-left : 15px;"></i></a>
             <a (click)="deleteEndUser(endUser.id)"><i class="mdi mdi-delete" style="font-size: 20px; color: #A1689A;margin-left : 15px;"></i></a>
             <a (click)="showDetails(endUser)"><i class="mdi mdi-information" style="font-size: 20px; color :#A1689A;margin-left : 15px;"></i></a>
        </td>
        <!-- Ajoutez d'autres colonnes si nécessaires -->
    </tr>
    </tbody>
</table>
<div *ngIf="editingEndUser">
    <h3>{{"Update profile for"| translate}}<strong>{{editingEndUser.fullname}}</strong></h3>
    <form (submit)="saveEndUser(editingEndUser.id)">
        <label >{{"Fullname"| translate}} :&emsp;</label>
        <input [(ngModel)]="editingEndUser.fullname" type="text" ><br>
        <label>{{"Address"| translate}} :&emsp;</label>
        <input [(ngModel)]="editingEndUser.address" type="text"  ><br>
        <label>{{"Localization"| translate}} :&emsp;</label>
        <input [(ngModel)]="editingEndUser.localisation" type="text"><br>
        <label  >{{"Phone"| translate}} :&emsp;</label>
        <input [(ngModel)]="editingEndUser.numTel" type="text" ><br>
       
        <button type="submit">{{"Update"| translate}}</button><button mat-button color="primary" (click)="editingEndUser = null">{{"Cancel"| translate}}</button>
    </form>
</div>
<div *ngIf="selectedEndUser">
    <h3>{{"Details for"| translate}} <strong>{{ selectedEndUser.fullname }}</strong></h3>
    <p><strong>{{"Address"| translate}}:</strong> {{ selectedEndUser.address }}</p>
    <p><strong>{{"Localization"| translate}}:</strong> {{ selectedEndUser.localisation }}</p>
    <p><strong>{{"Phone"| translate}}:</strong> {{ selectedEndUser.numTel }}</p>
    <p><strong>{{"Email"| translate}}:</strong> {{ selectedEndUser.email }}</p>
    <p><strong>{{"Status"| translate}}:</strong> {{ selectedEndUser.etat ? 'Activé' : 'Désactivé' }}</p>
    <!-- <p><strong>NumTel:</strong> {{ selectedLivreur.numTel }}</p> -->
    <button mat-button color="primary" (click)="selectedEndUser = null">{{"Cancel"| translate}}</button>
  </div>